@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-Open-Sans: "Open Sans", sans-serif;

}

.minimal-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 9999px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

/* Firefox */
.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}